autopep8                                    ## Used for auto-formating python code (ctrl+K, ctrl+F, in VS Code)
coverage                                    ## List out required tests for backend.
boto3                                       ## Used to connect to AWS S3 instances.
dataclasses                                 ## Boilerplate classes to hold data.
django                                      ## Core Web framework.
django-cors-headers                         ## Package to handle Cross-Origin requests.
django-dotenv                               ## Used to read Environment Varible for the core web framework.
django-extensions                           ## Extend functionality and utility of core web framework.
django-storages                             ## Extension to allow django to use cloud storages.
djangorestframework                         ## REST API functionality for core web framework.
djangorestframework-simplejwt               ## Provide JWT functionality to core web framework.
graphviz                                    ## Used for graph representation of data in vector and mark-down/up format.
Faker                                       ## Used to create dummy data.
jupyter                                     ## Used for prototyping scripts.
pandas                                      ## Datascience/Statistics/Dataengineering applications.
pdfkit                                      ## Used to do operations on PDFs.
pillow                                      ## Media Files
psycopg2-binary                             ## Used to connect the web-application to a PostgreSQL database.
pydot                                       ## Used to manipulate .DOT files inside the environment.
pydot-ng                                    ## Extension for 'PyDOT'
pycryptodome                                ## Used to synchronously encrypt/decrypt data.
requests                                    ## Used to hit external APIs.
# PyJWT==1.7.1                              ## Alternative library for JWT functionality.
# xhtml2pdf==0.2.7                          ## Used to convert rendered HTML pages to PDF documents.